* {
  padding: 0;
  margin: 0;
}

.app-conatiner {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 800px;
}

.post-card {
  margin: 20px 50px;
  min-width: 30rem;
}

.hashtag {
  margin: 0px 3px;
}
.post-reaction {
  margin-top: 10px;
}
.reaction-emoji {
  cursor: pointer;
  margin-right: 4px;
}
.create-post {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}
